
.content {
  padding: 40px 15px;
  text-align: center;
}

.comment{
    text-align: left;
}

.commentAuthor{
    width:120px;
}

.commentBox {
    margin: 0 auto;
    max-width:600px;
}

.form-inline{
    width:100%;
}

.form-inline input, .form-inline button{
    margin-left: 10px;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding-top: 50px;
  padding: 30px;
}
