
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding-top: 50px;
  padding: 30px;
}
